* {
   margin: 0px;
   padding: 0px;
}
/* Give your page a fun background color */
body {
  background-color: #8B008B;
}
/* Make the header and footer a different color from the background */
header {
  background-color: #4682B4;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  color: #FFE5B5;
}

footer {
  background-color: #4682B4;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 20px;
  color: #FFE4C4;

}
/* Align the h1 containing your name in the center of the header*/
h1 {
  text-align: center;
}
/* Make your p tag a different color and italic */
p {
  font-style: italic;
  color: #8B008B;
}
/* Put a border around your image */
img {
  margin-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid black;
  height: 270px;
  width: 360px;
}

div {
    display: flex;
    justify-content:center;
    align-items:center;
  }
/* Change the font-family of your list */
ul {
  font-family: fantasy;
  list-style-type: none;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 30px;
}

footer {
  text-align: center;
}

iframe {
  margin-top: 15px;
}
